body{
    background: rgb(192,233,233);
    background: radial-gradient(circle, rgba(192,233,233,1) 0%, rgba(12,229,225,1) 100%);
}
ul li a {
    padding-bottom: 10px;
    color:#778899;
    text-decoration:none;
    display: flex;
	align-items: center;
	justify-content: center;
    cursor: pointer;
} 
a{
    border-radius: 10px;
    position:fixe;
    text-align : center;
    color:#778899;
    background: rgb(244,82,99);
    background: linear-gradient(90deg, rgba(244,82,99,1) 0%, rgba(255,255,255,1) 50%, rgba(92,214,203,1) 100%);
    background-size: 100%;
	}
}
#container{
    align-content: center;
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* bordure formulaire */
form {
	margin:auto;
    width:30%;
    padding:3%;
    border: 1px solid #f1f1f1;
    background: #EEEEEE;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #4C86A8;
    color: #EEEEEE;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #5CD6CB;
    color: #4C86A8;
    border: 1px solid #4C86A8;
}